<%= form_with(model: tarification, local: true) do |form| %>
  <% if tarification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarification.errors.count, "error") %> prohibited this tarification from being saved:</h2>

      <ul>
      <% tarification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
