<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operation.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @operation.type %>
</p>

<p>
  <strong>Tarification:</strong>
  <%= @operation.tarification %>
</p>

<%= link_to 'Edit', edit_operation_path(@operation) %> |
<%= link_to 'Back', operations_path %>
